<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Oleo+Script:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="screen" href="./assets/css/materialize.min.css" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With burgers!</title>
</head>

<body>
	<header>
		<nav class="nav-wrapper red">
			<div class="container" id="myNavbar">
				<a href="#" class="brand-logo">Jesse Loftus</a>
				<a href="#" data-target="mobile-menu" class="sidenav-trigger">
					<i class="material-icons">menu</i>
				</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a href="https://loftusjl.github.io/">About Me</a>
					</li>
					<li>
						<a href="https://loftusjl.github.io/#portfolio">Portfolio</a>
					</li>
					<li>
						<a href="https://loftusjl.github.io/#contact">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- SIDE NAV -->
	<ul class="sidenav" id="mobile-menu">
		<li class="blue-grey lighten-5">
			<a href="https://loftusjl.github.io/" class="sidenav-close">About Me</a>
		</li>
		<li class="blue-grey lighten-5">
			<a href="https://loftusjl.github.io/#portfolio" class="sidenav-close">Portfolio</a>
		</li>
		<li class="blue-grey lighten-5">
			<a href="https://loftusjl.github.io/#contact" class="sidenav-close">Contact</a>
		</li>
	</ul>
	{{{ body }}}
	<!-- JAVASCRIPT -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/assets/js/materialize.min.js"></script>
	<script src="/assets/js/burgers.js"></script>

</body>

</html>