<div class="fullRow yellow">
  <div class="container">
    <h2>Available Burgers</h2>
    <div class="row">
      {{#each burgers}} {{#unless burDevoured}} {{> burgers/burger-block burDevoured=0}} {{/unless}} {{/each}}
    </div>
  </div>
</div>

<div class="fullRow red">
  <div class="container">
    <h2>Burgers Devoured!</h2>
    <div class="row">
      {{#each burgers}} {{#if burDevoured}} {{> burgers/burger-block burDevoured=1}} {{/if}} {{/each}}
    </div>
  </div>
</div>

<footer class="red lighten-2 yellow-text text-lighten-4">
<div class="container">
    <div class="row">
      <div class="col s12">
        <h3>Add a burger</h3>
        <form class="create-form">
          <div class="input-field">
            <input type="text" id="burg" name="name" class="yellow-text text-lighten-4">
            <label for="burg" class="flow-text yellow-text text-lighten-4">Burger Name</label>
          </div>
        
          <div class="input-field">
            <input type="text" id="photo" name="burgPhoto">
            <label for="photo" class="flow-text yellow-text text-lighten-4">Burger Picture (copy the url of a photo and paste it here)</label>
          </div>
        
          <button type="submit" class="change-burDevoured waves-effect waves-light btn orange">Add burger</button>
        </form>
      </div>
    </div>
</div>
</footer>